<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidar.androidChatter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    <activity android:name=".ListaDeAmigos" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category
					android:name="android.intent.category.NORMAL">
				</category>
			</intent-filter>
			
		</activity>
		<service android:name="com.baidar.androidChatter.servicio.MessagingService"></service>
		<activity android:name=".IniciarSesion"  android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER">
				</category>
			</intent-filter>
		</activity>
		<activity android:name=".RealizarMensaje"  android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category
					android:name="android.intent.category.NORMAL">
				</category>
			</intent-filter>
		</activity>
		
		
	<activity android:name=".CrearUsuario" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.NORMAL"></category>
</intent-filter>
</activity>
<activity android:name=".AgregarAmigos" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.NORMAL"></category>
</intent-filter>
</activity>
<activity android:name="com.baidar.androidChatter.WaitingListFriends" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.NORMAL"></category>
</intent-filter>
</activity>
</application>


</manifest>

